.chessboard {
    margin-bottom: auto;
    width: calc(100vh - var(--header-height) - 20px);
    aspect-ratio: 1/1;
    background-image: url('../../assets/chessboard.png');
    background-size: 100% 100%;
    position: relative;
    border-radius: 3px;
}

.chessboard-sidebar {
    flex: 0 0 40px;
}

.pov-button {
    width: 100%;
    aspect-ratio: 1/1;
}

.chessboard-layout {
    margin: 10px;
    justify-content: center;
    flex: 0 1 auto;
    display: flex;
}

@media (max-aspect-ratio: 4/3) {
    .chessboard {
        width: calc(100vmin - 40px - 20px);
    }
}

.block-input{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: dashed yellow;
    z-index: 3;
}