.chessboard {
    aspect-ratio: 1/1;
    background-image: url('../../assets/chessboard.png');
    background-size: 100% 100%;
    position: relative;
    border-radius: 3px;
}

.chessboard-sidebar {
    flex: 0 0 40px;
}

.pov-button {
    width: 100%;
    aspect-ratio: 1/1;
}

.chessboard-layout {
    justify-content: center;
    flex: 1 1 auto;
    display: flex;
}

@media (max-aspect-ratio: 1035/1019) {
    .chessboard {
        width: 100%;
        margin-bottom: auto;
    }
}